#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/modifiers.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3
#define MODE_2_BASE 4
#define MODE_2_LOWER 5
#define MODE_2_RAISE 6
#define MODE_2_ALTERNATE 7

/ {
    behaviors {
        ctrl_esc: ctrl_esc {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        dot_colon_morph: dot_colon_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        minus_under_morph: minus_under_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDER>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        comma_semi_morph: comma_semi_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        lower_raise_adjust_default {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };

        lower_raise_adjust_mode_2 {
            if-layers = <MODE_2_LOWER MODE_2_RAISE>;
            then-layer = <MODE_2_ALTERNATE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
                bindings = <
                    &kp LS(TAB)  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp TAB
                    &ctrl_esc LCTRL ESC  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp BSPC  &kp ESC
                    &kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &comma_semi_morph  &dot_colon_morph  &minus_under_morph  &kp RSHFT
                    &kp LGUI  &mo LOWER  &kp SPACE  &kp RET  &mo RAISE  &kp RALT
                >;
            };

        lower {
                bindings = <
                    &trans  &trans  &kp AT  &kp HASH  &kp DLLR  &trans  &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
                    &trans  &kp PIPE  &kp EQUAL  &kp DQT  &kp SLASH  &trans  &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp N1  &kp N2  &kp N3  &kp N0  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans
                >;
            };

        raise {
                bindings = <
                    &trans  &trans  &kp CARET  &kp LBKT  &kp RBKT  &trans  &trans  &kp PRCNT  &kp AMPS  &kp GRAVE  &kp BSLH  &trans
                    &trans  &kp ASTRK  &kp PLUS  &kp LPAR  &kp RPAR  &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp SQT  &trans
                    &trans  &kp LT  &kp GT  &kp LBRC  &kp RBRC  &trans  &trans  &kp QMARK  &kp EXCL  &kp TILDE  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans
                >;
            };

        alternate {
                bindings = <
                    &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
                    &rgb_ug RGB_TOG  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &to MODE_2_BASE  &to BASE  &kp C_PP  &kp C_VOL_UP  &kp C_BRI_UP  &ext_power EP_ON
                    &rgb_ug RGB_EFF  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans  &kp C_VOL_DN  &kp C_BRI_DN  &ext_power EP_OFF
                    &trans  &trans  &trans  &trans  &trans  &trans
                >;
            };

        mode_2_base {
                bindings = <
                    &trans  &trans  &kp Q  &trans  &kp E  &kp R  &trans  &trans  &trans  &trans  &trans  &trans
                    &kp LCTRL  &kp LSHFT  &kp A  &kp W  &kp D  &kp F  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &kp S  &kp C  &kp V  &trans  &trans  &trans  &trans  &trans  &trans
                    &mo MODE_2_RAISE  &mo MODE_2_LOWER  &kp SPACE  &trans  &mo MODE_2_RAISE  &trans
                >;
            };

        mode_2_lower {
                bindings = <
                    &trans  &kp N1  &kp N2  &trans  &kp N3  &kp N4  &kp F9  &kp F10  &kp F11  &kp F1  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans  &kp F5  &kp F6  &kp F7  &kp F8  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans  &kp F1  &kp F2  &kp F3  &kp F4  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans
                >;
            };

        mode_2_raise {
                bindings = <
                    &trans  &trans  &kp F1  &kp F2  &kp F3  &kp F4  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &kp F5  &kp F6  &kp F7  &kp F8  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans
                >;
            };

        mode_2_alternate {
                bindings = <
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans  &to MODE_2_BASE  &to BASE  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans
                >;
            };
    };
};

&led_strip {
    chain-length = <27>;
};
